<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="OracleConnection"
         connectionString="Data Source=121.36.200.128:1521/ORCL;User ID=ADMIN;Password=123456;"
         providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <!-- 其他配置信息 -->
</configuration>